body {
    color: white;
    background-color: rgb(46, 46, 46);
    font-family: sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px 0px;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


